.container {
        display: flex;
        position: relative;

        .carousel {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            gap: 1rem;

            .day {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
}