$gradient1: linear-gradient(to right, #0066FF, #1070FF);


.modal, .yeetModal {
    background: $gradient1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    .top, .bot {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .top {
        height: 40%;
        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            > * {
                flex: 1 1 100%;
            }

            p {
                text-align: center;
            }

            .column:nth-child(3) {
                text-align: right;
            };

            .main {
                display: flex;
                flex-direction: column;

                .profile_pic {
                    position: relative;
                    border-radius: 10px;
    
                }
    
                .lastname, .activity {
                    color: white;
                }
    
                .lastname {
                    font-weight: 600;
                }
    
                .activity {
                    font-size: 1em;
                    opacity: 0.5;
                }
            }
            

        }
        
        .details {
            display: flex;
            justify-content: space-evenly;
        }
    }

    .bot {
        height: 60%;
        background-color: white;
    }

}

.modal {
    transform: translateY(100vh);
    animation: popModalAnim ease 0.7s forwards;
}

.yeetModal {
    transform-origin: top left;
    animation: yeetModalAnim ease 0.4s forwards;
}

@keyframes popModalAnim {
    from {
        transform: translateY(100vh);
    }   
    to {
        transform: translateY(0);
    }
}

@keyframes yeetModalAnim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-90deg) translate(-2000px, -1000px);
    }
}