@use "variables" as variables;

.modal,
.yeetModal {
    background: variables.$gradient1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    .top,
    .bot {
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .top {
        height: 40%;

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            > * {
                flex: 1 1 100%;
            }

            p {
                text-align: center;
            }

            .column {
                // &:nth-child(1)>* {
                //     cursor: pointer;
                // }

                &:nth-child(3) {
                    text-align: right;
                }
            }

            .main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .image_container {
                    width: 100px;
                    height: 100px;
                    position: relative;
                }

                .profile_pic {
                    border-radius: 10px;
                    // object-fit: cover;
                    // min-height: 200px;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                }

                .lastname,
                .activity {
                    color: white;
                }

                .lastname {
                    font-weight: 600;
                }

                .activity {
                    font-size: 1em;
                    opacity: 0.5;
                }
            }

        }

        .details {
            display: flex;
            justify-content: space-evenly;
        }
    }

    .bot {
        height: 60%;
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 30px 30px 0 0
    }

}

.modal {
    transform: translateY(100vh);
    animation: popModalAnim ease 0.7s forwards;
}

.yeetModal {
    transform-origin: top left;
    animation: yeetModalAnim ease 0.4s forwards;
}

@keyframes popModalAnim {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes yeetModalAnim {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-90deg) translate(-2000px, -1000px);
    }
}