@use "variables" as variables;

.globalContainer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: variables.$gradient1;
  height: 100%;
  width: 100%;
}