@use "variables" as variables;

.slot_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    >div {
        margin: 10px
    }

    .free_slot,
    .unavailable_slot,
    .vacation {
        padding: 5px;
        border-radius: 5px;
        color: black;
        font-weight: 600;
    }

    .free_slot {
        background-color: variables.$blue_opacity;
        cursor: pointer;
    }

    .unavailable_slot {
        background-color: red;
    }

    .vacation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: red;
        width: 80%;
        min-height: 200px;
        margin-top: 2rem;
        font-size: 2rem;
        text-align: center;
    }
}